
body {
	font-family: 'Yu Gothic', 'futura';
	margin: 0;
	padding: 0;
}

/* //////////////////////////////////seuction1///////////////// */
.section1 {
	width: 100%;
}

.section1_wrapper {
	width: 1000px;
	margin: 0 auto;
}



/* //////////////////////////////////seuction2///////////////// */
